section.banner {
  background-image: url(../img/WEB/fond-p1.png);
  background-repeat: repeat-x;
  background-size: cover;
}

section.banner {
  overflow: hidden;
  position: relative;
  padding: 20px;
}

section.banner .container {
  margin: 10px 0px 40px 0px;
}

img.image-jeu {
  width: 80%;
  margin: 10px auto;
  display: block;
}

.missiles {
  position: absolute;
  z-index: 0;
  top: 0px;
}

.missile {
  position: absolute;
  top: 0px;
  opacity: 0.3;
  left: -60px;
  z-index: 1;
}

.missile:nth-child(2) {
  top: 100px;
  left: 120px;
}

.missile:nth-child(3) {
  top: -90px;
  left: 240px;
}

.banner-image {
  position: relative;
  z-index: 2;
}

.banner-information {
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}

.banner-information p {
  font-size: 0.8em;
}

.button-partie {
  width: 200px;
  margin: 35px auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-partie img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.button-partie a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1em;
}

@media screen and (min-width: 550px) {
  section.banner .container {
    justify-content: center;
    display: flex;
  }

  img.image-jeu {
    margin: 0px;
  }
}

@media screen and (min-width: 600px) {
  .banner-information p {
    font-size: 1em;
  }

  .button-partie a {
    color: white;
    font-size: 1em;
  }

  .button-partie {
    width: 250px;
    height: 50px;
  }
}
