section.features {
  padding: 20px;
}

section.features h2 {
  font-size: 24px;
  color: #0185ff;
  text-align: center;
}

.feature-information {
  display: flex;
  flex-direction: column;
}

.feature {
  margin-bottom: 60px;
}

.feature-image {
  width: 40%;
  margin: 0px auto 0px auto;
}

.feature-description {
  font-size: 14px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.feature-image img {
  margin: 0px auto;
  opacity: 0.8;
  width: 100%;
}

@media screen and (min-width: 520px) {
  section.features {
    padding: 0px;
  }
  section.features .container {
    display: flex;
    flex-direction: column;
  }

  .feature {
    width: 524px;
    margin: 0 auto 40px auto;
  }

  .feature:nth-child(odd) .feature-information {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .feature-information {
    flex-direction: row;
    justify-content: space-between;
  }

  .feature-image {
    width: 30%;
  }

  .feature-information p {
    text-align: left;
  }
}

@media screen and (min-width: 680px) {
  section.features .container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature {
    width: 320px;
    margin: 0 auto 40px auto;
  }
  .feature:nth-child(odd) .feature-information {
    flex-direction: column;
    justify-content: space-between;
  }

  .feature-information {
    flex-direction: column;
    justify-content: space-between;
  }
  .feature-image {
    width: 40%;
  }
}

@media screen and (min-width: 820px) {
  section.features {
    max-width: 918px;
    margin: 0 auto;
  }
  section.features .container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature {
    width: 320px;
    margin: 0 auto 40px auto;
  }
  .feature:nth-child(odd) .feature-information {
    flex-direction: row;
    justify-content: space-between;
  }

  .feature-information {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .feature-image {
    width: 30%;
  }
}

@media screen and (min-width: 918px) {
  .feature {
    width: 420px;
    margin: 0 auto 40px auto;
  }

  .feature-information {
    flex-direction: row;
    justify-content: space-between;
  }
  .feature-image {
    width: 130px;
    margin-left: 10px;
  }
}
