section.preview {
  background-image: url(../img/WEB/fond-p1.png);
  background-repeat: repeat-x;
  background-size: cover;
}

section.preview {
  overflow: hidden;
  position: relative;
  padding: 0px 20px;
  min-height: 200px;
}

section.preview .container h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #0185ff;
  text-align: center;
}

.preview-boxes {
  margin-top: 10px;
  height: 160px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 30px;
}

.preview-box {
  width: 160px;
  display: inline-block;
  height: 160px;
  background-color: #0185ff;
  margin-right: 10px;
}

.preview-boxes::-webkit-scrollbar {
  height: 15px;
}

.preview-boxes::-webkit-scrollbar-track {
  background: gray;
  border-radius: 20px;
}

.preview-boxes::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

@media screen and (min-width: 280px) {
  .preview-box {
    width: 80px;
    height: 80px;
  }
  .preview-boxes {
    height: 80px;
  }
}

@media screen and (min-width: 520px) {
  .preview-box {
    width: 120px;
    height: 120px;
  }
  .preview-boxes {
    height: 120px;
  }
}

@media screen and (min-width: 680px) {
  section.preview {
    padding: 0px 60px;
  }
}

@media screen and (min-width: 820px) {
  .preview-box {
    width: 160px;
    height: 160px;
  }
  .preview-boxes {
    height: 160px;
  }
}
